<!-- bootstrap css -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

<!-- gallery css -->
<link href="gallery.css" rel="stylesheet" />

<div>
    <div>
        <h5> feed url: {{ feedUrl }} </h5>
        <h5> search: {{ isSearchable }} </h5>
        <h5> pagination: {{ isPaginationEnabled }} </h5>
        <h5> results per page: {{ resultsPerPage }} </h5>
        <h5> sorting input: {{ isSortable }} </h5>
        <h5> rotate time input: {{ rotateTime }} </h5>
    </div>

    <div *ngIf="isSearchable">
        <search-box (update)="performSearch($event)"></search-box>
    </div>


    <div *ngIf="isSortable">
        <drop-down [options]="['title', 'date']" title="sort by:" (update)="performSort($event)"></drop-down>
    </div>

    <dic *ngIf="isPaginationEnabled">
        <drop-down [options]="calacResultsPerPageOptions()" title="results in a page:" [defaultOptionText]="defaultResultsPerPage" (update)="performChangeResultsPerPage($event)" ></drop-down>
    </dic>

    <div class="gallery">
        <!-- present pictures -->
        <div>
            <div class="img" *ngFor=" #picture of picturesToPresent">
                <img src= "{{ picture.url }}" onerror="this.src='./app/assets/images/placeholder.png'" width="100" height="100">
                <div class="description"> {{picture.title}} </div>
            </div>
        </div>

        <!-- pager -->
        <div class="text-center">
            <div *ngIf="isPaginationEnabled">
                <ul *ngIf="pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled: pager.currentPage == 1}">
                            <a (click)="pager.currentPage != 1 && performSetPage(1)">First</a>
                        </li>
                        <li [ngClass]="{disabled: pager.currentPage == 1}">
                            <a (click)="pager.currentPage != 1 && performSetPage(pager.currentPage - 1)">Previous</a>
                        </li>
                        <li *ngFor="#page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="performSetPage(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled: pager.currentPage == pager.totalPages}">
                            <a (click)="pager.currentPage != pager.totalPages && performSetPage(pager.currentPage + 1)">Next</a>
                        </li>
                        <li [ngClass]="{disabled: pager.currentPage == pager.totalPages}">
                            <a (click)="pager.currentPage != pager.totalPages && performSetPage(pager.totalPages)">Last</a>
                        </li>
                    </ul>
            </div>
        </div>
    </div>

</div>