#gallery {
    background-color: white;
    margin: 8%;
    border-style: solid;
    border-width: 1px;
    border-color: whitesmoke;
}


#controlers {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    background-color: #f6f7f9;
}


.row {
  margin: 1%;
}


.thumbImage {
    position: relative;
    width: 206px;
    height: 206px;
    margin: 1%;
}


.imageAndButton {
  position: relative;
  float:left;
}


.glyphicon{
    position:absolute;
    top:5px;
    left:5px;
}

.disabled-zone{
    opacity: 0.5;
}


a {
    cursor: pointer;
}
