/*All gallery design*/
#gallery {
    background-color: white;
    margin: 2%;
    border-style: solid;
    border-width: 1px;
    border-color: whitesmoke;
}


#controlers {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    background-color: #f6f7f9;
}


.row {
  margin: 2%;
}


.thumbImage {
    position: relative;
    width: 206px;
    height: 206px;
    margin: 1%;
}


.thumbImage:hover {
    border: 1px solid #777;
}




.thumbImage img.portrait {
    width: 100%;
    height: auto;
}





a {
    cursor: pointer;
}
